{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<form method="post" action="/clinicos" enctype="multipart/form-data">
    <div class="form-group col-md-6">
        <label for="edad">Edad</label>
        <input type="number" min="18" class="form-control" id="edad" name="edad">
    </div>
    <div class="form-group col-md-6">
        <label for="peso">Peso (Kg)</label>
        <input type="number" step="0.01" min="0" class="form-control" id="peso" name="peso" placeholder="64.7">
    </div>
    <div class="form-group col-md-6">
        <label for="estatura">Estatura (m)</label>
        <input type="number" step="0.01" min="0" class="form-control" id="estatura" name="estatura" placeholder="1.68">
    </div>

    <div class="form-group col-md-6">
        <label for="presion">Presi&oacute;n arterial diast&oacute;lica</label>
        <input type="number"  min="0" class="form-control" id="presion" name="presion" placeholder="80">

    </div>
    <div class="form-group col-md-6">
        <label for="glucosa">Concentraci&oacute;n de glucosa en plasma</label>
        <input type="number" min="0" class="form-control" id="glucosa" name="glucosa" placeholder="80">
    </div>
    <div class="form-group col-md-6">
        <label for="insulina">Insulina s&eacute;rica de 2 horas</label>
        <input type="number" min="0" class="form-control" id="insulina" name="insulina" placeholder="80">
    </div>
    

    <div class="form-group">

        <input type="submit" value="Predecir" class="btn btn-primary" />


    </div>
</form>


{% endblock %}
